[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/peter-ahe
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/peter-ahe
	label-Verified = -1..+1 group user/peter-ahe
	push = group user/peter-ahe
	read = group user/peter-ahe
	rebase = group user/peter-ahe
	removeReviewer = group user/peter-ahe
	submit = group user/peter-ahe
[access "refs/heads/*"]
	create = group user/peter-ahe
	push = +force group user/peter-ahe
	pushMerge = group user/peter-ahe
	read = group user/peter-ahe
[access "refs/tags/*"]
	push = group user/peter-ahe
	push = +force group user/peter-ahe
